<div class="addProject">
  <div class="row">
    <div class="col align-self-start"></div>
    <div class="col align-self-center">
        <h2>Edit Project</h2>
    </div>
    <div class="col align-self-end  d-flex justify-content-end">
        <form action="/editProject/<%= project._id %>?_method=DELETE" method="POST" class="delForm">
            <button type="submit" ><i class="fas fa-trash"></i></button>
        </form>
    </div>
</div>
  <form action="/editProject/<%= project._id %>?_method=PUT" method="POST">
    <%  if(messages.error) { %> 
      <span><%=  messages.error %> </span>
  <% }  %> 
      <div class="mb-3">
        <label for="title" class="form-label">Project Title</label>
        <input type="text" name="title" class="form-control" value="<%= project.title %> ">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" class="form-control" rows="5"><%= project.description %> </textarea>
      </div>
      <div class="mb-3">
        <label for="github" class="form-label">Github Link</label>
        <input type="text" name="github" class="form-control" value="<%= project.github %> ">
      </div>
      <div class="mb-3">
        <label for="directLink" class="form-label">Project Link</label>
        <input type="text" name="directLink" class="form-control" value="<%= project.directLink %> ">
      </div>
      <div class="mb-3">
        <label for="file" class="form-label">Image</label>
        <input type="file" name="file" class="form-control">
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit">Submit</button>
      </div>
    </form>
</div>