<!-- hero landing section --> 
<div class="hero">
    <h1>Hi, I'm Meghna</h1>
    <h3>3rd Year Student at SMIT, Dog Lover , Book Worm</h3>
</div>
<!---  about me section -->
<div class="aboutme">
    <h2>About Me</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, maiores placeat eos similique, numquam accusamus dolorem iure accusantium tempora sequi laborum ab dolorum. Esse facilis veritatis eveniet harum officiis tempore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum est excepturi eaque pariatur delectus eligendi consequuntur modi id debitis inventore. Aperiam est, unde aliquid eius iure aspernatur maiores dolorem voluptatem.</p>
</div>
<!-- Projects Section -->
<div class="projects" id="projects">
    <h2>Projects</h2>
    <!-- Project Grid -->
    <div class="wrapper">
        <% projects.forEach((project) => { %>
        <div class="box">
            <img src="/uploads/<%= project.img %> " alt="">
            <div class="dText">
                <h4><%= project.title %> </h4>
            </div>
            <a href="project/<%= project._id %> "><button>Go To Project</button></a>
        </div>
        <% }) %> 
    </div>
</div>
<!-- Books Section -->
<div class="bookshelf" id="bookshelf">
    <h2>My BookShelf</h2>
    <!-- Project Grid -->
    <div class="wrapper">
        <% books.forEach((book) => { %>
        <div class="books">
            <img src="<%= book.bookCoverLink %> " alt="">
            <a href="book/<%= book._id %> ">Read Review</a>
        </div>
        <% }) %> 

    </div>
</div>