<!-- hero landing section --> 
<div class="hero">
    <h1>Hi, I'm Meghna</h1>
    <h3>Management Information Systems Graduate Student Texas A&M / Web Developer / Avid Reader</h3>
    <a href="#aboutme" class="links"><i class="fas fa-arrow-down"></i></a>
</div>
<!---  about me section -->
<div class="aboutme" id="aboutme">
    <h2 class="mb-5">About Me</h2>
    <div class="row mt-4">
        <div class="col-sm aboutme-info">
          <div class="profile-image">
           <img src="/uploads/Meghna_HEADSHOT.jpg">
          </div>            
          <p>I'm currently pursuing a Master's in Management Information Systems at Texas A&M, passionate about software development and product innovation. I excel in crafting seamless user experiences and staying ahead of industry trends. Let's connect and collaborate on exciting projects! </p>
            <h5 class="m-3">CONTACT ME</h5>
            <div class="links">
                <a href="https://www.linkedin.com/in/meghna-pradhan-9b238a182/"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/mekna13"><i class="fab fa-github-square"></i></a>
                <a href="https://www.hackerrank.com/meghna_prd"><i class="fab fa-hackerrank"></i></a>
                <a href="mailto:meghna.prd@gmail.com"><i class="fas fa-envelope"></i></a>
            </div>

        </div>

        <div class="col-sm">
            <h5>SKILLS</h5>
            <div class="m-3">
              <h6>Frontend Dev</h6>
                <div class="row">
                    <div class="skill col-sm">Angular</div>
                    <div class="skill col-sm">React</div>
                    <div class="skill col-sm">Next.js</div>
                    <div class="skill col-sm">HTML</div>
                </div>
                <div class="row">
                  <div class="skill col-sm">CSS SCSS</div>
                </div>
                 <h6>Languages</h6>
                <div class="row">
                    <div class="skill col-sm">Javascript</div>
                    <div class="skill col-sm">Typescript</div>
                    <div class="skill col-sm">Python</div>
                    <div class="skill col-sm">Java</div>
                </div>
                <h6>Server Management </h6>
                <div class="row">
                    <div class="skill col-sm">AWS</div>
                    <div class="skill col-sm">Heroku</div>
                    <div class="skill col-sm">Docker</div>
                    <div class="skill col-sm">Linux</div>
                </div>
                <h6>Databases </h6>
                <div class="row">
                  <div class="skill col-sm">MySQL</div>
                	<div class="skill col-sm">MongoDB</div>
                	<div class="skill col-sm">Firebase</div>
                  <div class="skill col-sm">PostgreSQL</div>
                </div>
                <h6>Version Control </h6>
                <div class="row">
                  <div class="skill col-sm">Git</div>
                	<div class="skill col-sm">Github</div>
                	<div class="skill col-sm">Bitbucket</div>
                </div>
                <h6>Web APIs </h6>
                <div class="row">
                  <div class="skill col-sm">RESTful APIs</div>
                	<div class="skill col-sm">GraphQL</div>                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="divider"></div>
<div class="timeline-container">
  <h2>My Journey</h2>
  <div class="timeline" id="timeline">
  <div class="container">
    <div class="timeline-item">

      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .5)), url('https://www.swansea.ac.uk/texas/tamu/Academic-Plaza-in-Fall.jpg') center center no-repeat">
          <h2>Enrolled in MS MIS program at Texas A&M</h2>
        </div>
        <div class="date">AUG 2023</div>
        <p>I enrolled in the Masters of Science in Management Information Systems program at Texas A&M University with the aim of broadening my expertise beyond software development. I sought to delve into areas such as data analysis, project management, cybersecurity, and strategic decision-making in the realm of information systems.</p>
      </div>

    </div>   

    <div class="timeline-item">

      <div class="timeline-img"></div>

      <div class="timeline-content js--fadeInLeft">
        <div class="date">JUN 2022</div>
        <h3>I transitioned my internship at Ncompass to a full-time position</h3>
      </div>
    </div>   
    <div class="timeline-item">

      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .7)), url('https://akm-img-a-in.tosshub.com/indiatoday/images/story/201906/Technical-Pvt-Jul1-1_770.jpeg?VersionId=.l0Uawf5fIsN3xgPV8s.JcIQdKamL9c5') center top no-repeat">
          <h2>Graduated with a Bachelors in Computer Science Engineering</h2>
        </div>
        <div class="date">MAY 2022</div>
        <p>Completing the four-year program at Sikkim Manipal Institute of Technology was a pivotal milestone in my journey. Throughout my studies, I gained invaluable knowledge in computer science, including a deep understanding of algorithms, data structures, programming languages such as Java and Python, database management, and software development methodologies.</p>
      </div>
    </div>   
    <div class="timeline-item">

      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .5)), url('https://media.licdn.com/dms/image/D560BAQHPVqwXeFRo0w/company-logo_200_200/0/1693224093103/ncompass_techstudio_logo?e=2147483647&v=beta&t=utI4CS9Mmsmg2pRku8FAiFtg5ZY605bkeElzYZ-3HRc') center center no-repeat">
          <h2>Internship at NCompass</h2>
        </div>
        <div class="date">JAN 2022</div>
        <p>In my final undergrad semester, I interned at Ncompass TechStudio, where I worked on internationalizing a SaaS app with React. In addition, I undertook a project involving the development of an API for an online hotel booking application using Flask a python web framework.  Learn More</p>
      </div>
    </div> 
    <div class="timeline-item">

      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .5)), url('https://i.vimeocdn.com/video/926792178-8f1e5a6857e7b8556a467ec1f9173115befde2a315af092f20bcfd1a9ed5f316-d_750x421.875?q=60') center center no-repeat">
          <h2>Internship at Nivoda</h2>
        </div>
        <div class="date">AUG 2021</div>
        <p>After completing my third year, I interned at Nivoda, an online B2B diamond marketplace. Over two months, I collaborated with industry experts, focusing on developing an Admin function for diamond certificate management. I also contributed to various tasks including customer account settings and delivery tracking. Learn More</p>
      </div>
    </div>  
    <div class="timeline-item">

      <div class="timeline-img"></div>

      <div class="timeline-content js--fadeInLeft">
        <div class="date">AUG 2018</div>
        <h2>CS Undergrad</h2>
        <blockquote>I began my tech journey by enrolling in a Computer Science Engineering undergraduate program at Sikkim Manipal Institute of Technology. </blockquote>
      </div>
    </div>   
  </div>
</div>
</div>
<!-- Work Experience -->
<!-- <div class="aboutme" id="aboutme">
    <h2 class="mb-5">Internships</h2>
    <div class="row mt-4">
        <div class="col-sm">
            <img src="https://www.naj.co.uk/write/MediaUploads/Vacancies/nivoda.jpg"
             style="width:80%; height:40%; margin-bottom: 10%;">
            <h5>Technologies Worked With</h5>
            <div class="m-3">
                <div class="row">
                    <div class="skill col-sm">Node Js</div>
                    <div class="skill col-sm">React</div>
                    <div class="skill col-sm">GraphQL</div>
                </div>
                <div class="row">
                    <div class="skill col-sm">Puppeteer</div>
                    <div class="skill col-sm">Git</div>
                    <div class="skill col-sm">Github</div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <p>After the end of my 3rd Year, I got the opportunity to intern at Nivoda an online B2B marketplace for diamonds.
                During the 2 months of my remote internship, I got a chance to learn from and work with industry professionals,
                in an agile development environment. 
            </p>
            <p>   
                I primarily worked on developing an Admin function to create and retrieve manual diamond certificates on both the frontend and backend.
                I also worked on other small features like customer account settings and scrapping delivery tracking status sites.
            </p>
            <p>
                I got a real insight into the workings of a product-based company by attending the daily Engineering Standups and the fortnightly company meetings.
                It was a great experience.
            </p>
        </div>
    </div>
    
</div> -->

<!-- Projects Section -->
<div class="projects" id="projects">
    <h2>Projects</h2>
    <!-- Project Grid -->
    <div class="wrapper">
        <% projects.forEach((project) => { %>
        <div class="box">
          <div class="overlay">
            <img src="/uploads/<%= project.img %> " alt="">
            <div class="dText">
          <h4><%= project.title %> </h4>
            </div>
          </div>
          <a href="project/<%= project._id %> "><button>Go To Project</button></a>
        </div>
        <% }) %> 
    </div>
</div>


<!-- Books Section -->
<div class="bookshelf" id="bookshelf">
    <h2>My BookShelf</h2>
    <!-- Project Grid -->
    <div class="wrapper">
        <% books.forEach((book) => { %>
        <div class="books">
            <img src="<%= book.bookCoverLink %> " alt="">
            <a href="book/<%= book._id %> ">Read Review</a>
        </div>
        <% }) %> 

    </div>
</div>


