<!-- hero landing section --> 
<div class="hero">
    <h1>Hi, I'm Meghna</h1>
    <h3>4th Year Student at SMIT, Computer Science , Web Dev</h3>
    <a href="#aboutme" class="links"><i class="fas fa-arrow-down"></i></a>
</div>
<!---  about me section -->
<div class="aboutme" id="aboutme">
    <h2 class="mb-5">About Me</h2>
    <div class="row mt-4">
        <div class="col-sm">
            <p>Currently a 4th year student at SMIT pursuing a B.Tech in Computer Science. 
                Interested in web development , inclined to learn more about the blockchain.
                Fond of reading books and dabble in graphic design. </p>
            <h5 class="m-3">CONTACT ME</h5>
            <div class="links">
                <a href="https://www.linkedin.com/in/meghna-pradhan-9b238a182/"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/mekna13"><i class="fab fa-github-square"></i></a>
                <a href="https://www.hackerrank.com/meghna_prd"><i class="fab fa-hackerrank"></i></a>
                <a href="mailto:meghna.prd@gmail.com"><i class="fas fa-envelope"></i></a>
            </div>

        </div>

        <div class="col-sm">
            <h5>SKILLS</h5>
            <div class="m-3">
                <div class="row">
                    <div class="skill col-sm">Node Js</div>
                    <div class="skill col-sm">Express</div>
                    <div class="skill col-sm">Mongoose</div>
                </div>
                <div class="row">
                    <div class="skill col-sm">Java</div>
                    <div class="skill col-sm">HTML</div>
                    <div class="skill col-sm">React</div>
                </div>
                <div class="row">
                    <div class="skill col-sm">CSS + SCSS</div>
                	<div class="skill col-sm">Adobe Photoshop</div>
                	<div class="skill col-sm">Adobe Illustrator</div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="projects"></div>
<!-- Work Experience -->
<div class="aboutme" id="aboutme">
    <h2 class="mb-5">Internships</h2>
    <div class="row mt-4">
        <div class="col-sm">
            <img src="https://www.naj.co.uk/write/MediaUploads/Vacancies/nivoda.jpg"
             style="width:80%; height:40%; margin-bottom: 10%;">
            <h5>Technologies Worked With</h5>
            <div class="m-3">
                <div class="row">
                    <div class="skill col-sm">Node Js</div>
                    <div class="skill col-sm">React</div>
                    <div class="skill col-sm">GraphQL</div>
                </div>
                <div class="row">
                    <div class="skill col-sm">Puppeteer</div>
                    <div class="skill col-sm">Git</div>
                    <div class="skill col-sm">Github</div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <p>After the end of my 3rd Year, I got the opportunity to intern at Nivoda an online B2B marketplace for diamonds.
                During the 2 months of my remote internship, I got a chance to learn from and work with industry professionals,
                in an agile development environment. 
            </p>
            <p>   
                I primarily worked on developing an Admin function to create and retrieve manual diamond certificates on both the frontend and backend.
                I also worked on other small features like customer account settings and scrapping delivery tracking status sites.
            </p>
            <p>
                I got a real insight into the workings of a product-based company by attending the daily Engineering Standups and the fortnightly company meetings.
                It was a great experience.
            </p>
        </div>
    </div>
    
</div>
<!-- Projects Section -->
<div class="projects" id="projects">
    <h2>Projects</h2>
    <!-- Project Grid -->
    <div class="wrapper">
        <% projects.forEach((project) => { %>
        <div class="box">
            <img src="/uploads/<%= project.img %> " alt="">
            <div class="dText">
                <h4><%= project.title %> </h4>
            </div>
            <a href="project/<%= project._id %> "><button>Go To Project</button></a>
        </div>
        <% }) %> 
    </div>
</div>
<!-- Books Section -->
<div class="bookshelf" id="bookshelf">
    <h2>My BookShelf</h2>
    <!-- Project Grid -->
    <div class="wrapper">
        <% books.forEach((book) => { %>
        <div class="books">
            <img src="<%= book.bookCoverLink %> " alt="">
            <a href="book/<%= book._id %> ">Read Review</a>
        </div>
        <% }) %> 

    </div>
</div>